* {
  /*border: 1px solid black;*/
}

body {
  background-image: url("/images/fullbackground.png");
}

header {
  z-index: 1;
  background-color: black;
  height: 77px;
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
}
