#sort-button {
  clear: both;
  background: #d93434;
  background-image: -webkit-linear-gradient(top, #d93434, #b82b2b);
  background-image: -moz-linear-gradient(top, #d93434, #b82b2b);
  background-image: -ms-linear-gradient(top, #d93434, #b82b2b);
  background-image: -o-linear-gradient(top, #d93434, #b82b2b);
  background-image: linear-gradient(to bottom, #d93434, #b82b2b);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  color: #ffffff;
  padding: 5px 10px;
  margin: 10px 0;
}

#sort-button:hover {
  background: #b52828;
  background-image: -webkit-linear-gradient(top, #b52828, #b52828);
  background-image: -moz-linear-gradient(top, #b52828, #b52828);
  background-image: -ms-linear-gradient(top, #b52828, #b52828);
  background-image: -o-linear-gradient(top, #b52828, #b52828);
  background-image: linear-gradient(to bottom, #b52828, #b52828);
}

#about {
  text-align: center;
}

#about-logo {
  width: 60%;
}
